<div class="card bg-secondary">
  <div class="card-header text-white flex-end justify-content-right">
    <div class="row">
      <div class="board-name col-10">{{ name }}</div>
      <div class="col-2">
        <button class="btn btn-dark" >Nueva tarea</button>
        <button class="btn btn-dark" >Nueva columna</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="board">
      <div class="board">
        <app-column *ngFor="let column of columns" 
          [column]="column" 
          (dragover)="onTaskDragOver($event)" 
          (drop)="onTaskDrop($event, column)"
        ></app-column>
      </div>
    </div>
  </div>
</div>


  