<div class="board-name">{{ name }}</div>
<form class="form-group" action="">
  <button class="btn">
    Nueva tarea
  </button>
</form>
<div class="board">
    <div class="columns">
      <div class="column" *ngFor="let column of columns" (dragover)="onTaskDragOver($event)" (drop)="onTaskDrop($event, column)">
        <div class="column-header">{{ column.name }}</div>
        <div class="column-content">
          <div class="task" *ngFor="let task of column.tasks" draggable="true" [attr.data-task]="task.id" [attr.data-column]="column.id" (dragstart)="onTaskDragStart($event, task, column)">
            <div class="task-header">{{ task.title }}</div>
            <div class="task-content">{{ task.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  