

<div class="card" *ngFor="let board of boards" (click)="selectBoard(board)">
  <div class="card-header d-flex justify-content-between">
    <h2>{{ board.name }}</h2>
    <div class="btn btn-danger btn-sm" (click)="deleteBoard(board, $event)" *ngIf="isGestor || isAdmin">
      <i class="fa fa-trash"></i>
    </div>
  </div>
  <div class="card-body">
    {{ board.description ?? "Sin descripción" }}
  </div>
</div>

<div class="btn btn-dark btn-sm" (click)="modalService.open('modal-1')" *ngIf="isGestor || isAdmin">
      <i class="fa fa-plus"> Nuevo tablero</i>
</div>


  <modal id="modal-1">
      <div class="modal-header">
          <h5 class="modal-title">Nuevo tablero</h5>
          <button type="button" class="btn-close" (click)="modalService.close();"></button>
      </div>
      <div class="modal-body">
          <p>Creación de un nuevo tablero</p>
          <p>
              <label class="form-label">Nombre tablero*:</label>
              <input type="text" class="form-control" [(ngModel)]="name" required/>
              <label class="form-label">Descripción:</label>
              <input type="text" class="form-control" [(ngModel)]="description" />
              <label class="form-label">Equipo*:</label>
              <select class="form-control" [(ngModel)]="team" required>
                <option value="" disabled selected>Selecciona un equipo</option>
                <option *ngFor="let item of teams" [ngValue]="item">{{ item.name }}</option>
              </select>

          </p>
          <div *ngIf="modalNoValid" class="alert alert-danger">
            Complete los campos requeridos masrcados con *
          </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="createBoard();">Crear</button>
          <button type="button" class="btn btn-secondary" (click)="modalService.close();">Close</button>
      </div>
  </modal>



  