<div class="card text-white bg-secondary">
    <div class="card-header">
        Crear etiqueta
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="createTag()">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input class="form-control" type="text" formControlName="title" placeholder="Título" required>
            </div>
            <br>
            <button class="btn btn-dark" type="submit" >Crear etiqueta</button>
        </form>
    </div>
</div>
