<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>Esta pagina solo es accesible <u>para administradores</u>.</p>
        <p class="mb-1">Lista de usuarios:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>
                  <button class="btn btn-dark" (click)="reactivateUser(user)">Reactivar</button>
                </td>
                <td>{{ user.name }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>