<div class="task">
    <div *ngIf="edit">
        <ng-multiselect-dropdown class="form-control"
            [settings]="dropdownSettings"
            [data]="allTags"
            [(ngModel)]="tags"
        ></ng-multiselect-dropdown>
        <form [formGroup]="form" (ngSubmit)="updateTask()" >
            <div class="form-group">
                <label for="nombre">Titulo:</label>
                <input class="form-control" type="text" formControlName="title" [(ngModel)]="task.title" placeholder="Título" required>
            </div>
            <div class="">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" formControlName="description" placeholder="Descripción"  [(ngModel)]="task.description" required></textarea>
            </div>
            <br>

            <br>
            <button class="btn btn-dark" type="submit" >Actualizar</button>
            <button type="reset" (click)="cancel()" class="btn btn-primary" >Cancelar</button>
        </form>            
    </div>
    <div *ngIf="edit!=true">
        <h3>{{ task.title }}</h3>
        <p>
            {{ task.description }}
        </p>
        <div *ngIf="tags">
            <div class="d-inline badge-margin" *ngFor="let tag of tags" >
                <!-- <div class="d-inline" [ngClass]="tag.class"> -->
                <div class="d-inline badge bg-info">
                    {{ tag.name }}
                </div>
            </div>
        </div>
        <br>
        <button type="submit" title="btnEdit" class="btn btn-dark"
        (click)="editTask()">
            <i class="fa fa-edit" aria-hidden="true"> </i>
        </button>
        <button type="submit" title="btnDelete" class="btn btn-danger"
            (click)="deleteTask()">
            <i class="fa fa-trash" aria-hidden="true"> </i>
        </button>
    </div>

</div>