<div class="task">
    <div *ngIf="edit">
        <ng-multiselect-dropdown class="form-control"
            [settings]="dropdownSettings"
            [data]="allTags"
            [(ngModel)]="tags"
        ></ng-multiselect-dropdown>
        <form [formGroup]="form" (ngSubmit)="updateTask()" >
            <div class="form-group">
                <label for="nombre">Titulo:</label>
                <input class="form-control" type="text" formControlName="title" [(ngModel)]="task.title" placeholder="Título" required>
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" formControlName="description" placeholder="Descripción" [(ngModel)]="task.description" required></textarea>
                <label for="descripcion">Fecha límite:</label>
                <input class="form-control" type="date" formControlName="limit" placeholder="Fecha límite" [(ngModel)]="task.limit">
                <label for="descripcion">Usuario asignado:</label>
                <select class="form-control" formControlName="assigned_user_id" placeholder="Fecha límite" [(ngModel)]="task.assigned_to.id">
                    <option [value]="null"></option>
                    <option *ngFor="let user of allUsers" [value]="user?.id">{{ user?.name }}</option>
                </select>
            </div>
            <br>
            <br>
            <button class="btn btn-dark" type="submit" >Actualizar</button>
            <button type="reset" (click)="cancel()" class="btn btn-primary" >Cancelar</button>
        </form>            
    </div>
    <div *ngIf="edit!=true">
        <strong>Creación:</strong> {{ task.created_by?.name }} - {{ task.created_at | date:'dd/MM/yyyy' }}<br>
        <hr>
        <h3>{{ task.title }}</h3>
        <p>
            {{ task.description }}
            <br>
            <strong>Fecha límite:</strong> {{ task.limit | date:'dd/MM/yyyy' }}<br>
            <strong>Usuario asignado:</strong> {{ task.assigned_to?.name }}<br>
        </p>
        <div *ngIf="tags">
            <div class="d-inline badge-margin" *ngFor="let tag of tags" >
                <!-- <div class="d-inline" [ngClass]="tag.class"> -->
                <div class="d-inline badge bg-info">
                    {{ tag?.name }}
                </div>
            </div>
        </div>
        <br>
        <button type="submit" title="btnEdit" class="btn btn-dark"
        (click)="editTask()">
            <i class="fa fa-edit" aria-hidden="true"> </i>
        </button>
        <button type="submit" title="btnDelete" class="btn btn-danger"
            (click)="deleteTask()">
            <i class="fa fa-trash" aria-hidden="true"> </i>
        </button>
    </div>
</div>