<!-- nav -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav collapse navbar-collapse">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tableros</a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" *ngIf="isAdmin" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Administracion
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"  *ngIf="isAdmin">
          <li><a class="dropdown-item" routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Usuarios</a></li>
          <li><a class="dropdown-item" routerLink="/admin/boards-teams" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Administrar Tableros</a></li>
          <li><a class="dropdown-item" routerLink="/admin/teams" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Equipos</a></li>
          <li><a class="dropdown-item" routerLink="/admin/users-inactive" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Usuarios inactivos</a></li>
        </ul>
      </div>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <div class="dropdown">
      <button class="btn btn-secondary"type="button" data-bs-toggle="" aria-expanded="false">
        {{ user.name }}
      </button>
    </div>
    <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </ul>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>