<div class="card bg-secondary bg-opacity-25">
  <div class="card-header text-white d-flex justify-content-between">
      <h4>{{ name }}</h4>
      <div *ngIf="isGestor || isAdmin">
        <button class="btn btn-dark btn-sm" (click)="createColumn()"><i class="fa fa-plus" > Crear columna</i></button>
      </div>
  </div>
  <div class="card-body">
    <div class="board">
      <div class="board">
        <app-column *ngFor="let column of columns" 
          [column]="column" 
          (dragover)="onTaskDragOver($event)" 
          (drop)="onTaskDrop($event, column)"
          (columnDeleted)="onColumnDeleted(column)"
        ></app-column>
      </div>
    </div>
  </div>
</div>


  