
<div class="card bg-secondary bg-opacity-25">
  <div class="card-header text-white d-flex justify-content-between">
      <div *ngIf='!edit'>
        <h4>{{ name }}</h4>
      </div>
      <div *ngIf='edit'>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="name">
          <button class="btn btn-secondary btn-sm" (click)="updateBoard()"><i class="fa fa-save"></i></button>
        </div>
      </div>
      
      <div *ngIf="isGestor || isAdmin">

        <button *ngIf='!edit' class="btn btn-dark btn-sm" (click)="editBoard()"><i class="fa fa-edit"></i></button>
        <button class="btn btn-dark btn-sm" (click)="createColumn()"><i class="fa fa-plus" > Crear columna</i></button>
      </div>
  </div>
  <div class="card-body">
        <div class="board" >
                <app-column *ngFor="let column of columns"
                  [column]="column" 
                  [rolGestor]="rolGestor"
                  [rolAdmin]="rolAdmin"
                  (dragover)="onTaskDragOver($event)" 
                  (drop)="onTaskDrop($event, column)"
                  (columnDeleted)="onColumnDeleted(column)"
                ></app-column>
          </div>
    </div>
</div>


  