.card{
  margin: 25px;
}

.card-body{
  overflow-x: auto;
}
.board {
    display: flex;
    align-items: flex-start;
  }

.board-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn{
  margin: 2px;
}

  