<!-- <div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>Estás logeado <strong>{{ user.name }}!!</strong></p>
        Tus roles son: 
            <div *ngFor="let item of user?.roles">
                <strong>{{item.name }}</strong>
            </div>    
        <p>Esta página es accesible para <u>todos los usuarios</u>.</p>
        <p class="mb-1">Usuarios actuales:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.name}} </li>
        </ul>
    </div>
</div> -->

<app-board-list>
</app-board-list>