.board {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:5px; 
  }

.board-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn{
  margin: 2px;
}